<form method="get" action="/tabela" class="mb-3">
  <div class="input-group">
    <input type="text" name="nome" placeholder="Pesquisar por nome" class="form-control" />
    <button type="submit" class="btn btn-primary">Pesquisar</button>
  </div>
</form>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Matrícula</th>
      <th>Nome</th>
      <th>Disciplina</th>
      </tr>
  </thead>
  <tbody>
    <% if (alunos && alunos.length > 0) { %>
      <% alunos.forEach(aluno => { %>
        <tr>
          <td><%= aluno.matricula %></td>
          <td><%= aluno.nome %></td>
          <td><%= aluno.disciplina.nome %></td>
          </tr>
      <% }) %>
    <% } else { %>
      <tr>
        <td colspan="3" class="text-center">Nenhum aluno encontrado.</td> </tr>
    <% } %>
  </tbody>
</table>